header {
    background-color:darkblue;
    color:yellow;
}

body{
    background-color: white;
    color: black;
}

h1 {
    color:chartreuse;
}

p {
    color:blueviolet;
}

h2 {
    color:black;
}

ul { 
    color:cyan;
}device-width

li {
    color:blue;
}b
